@font-face {
    font-family: 'COCOGOOSE Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../Font/cocogoose-cufonfonts-webfont/cocogoose_trial.woff') format('woff');
    }
@font-face {
    font-family: "JI Burrito";
    src: url('../Font/ji-burrito-cufonfonts-webfont/JI\ Burrito.woff') format('woff');
}
@font-face {
    font-family: 'EmberlyBlack';
    src: url(../Font/emberly-cufonfonts-webfont/EmberlyBlack.woff) format('woff');
}
@font-face {
    font-family: 'mono';
    src: url('../Font/SpaceMono-Bold.woff') format('woff');
}
.logo{
    // text-align: center;
    @include flexcenter;
    font-size: 4rem; 
    color: $color-primary;
    height: 8rem;
    width: 8rem;
    border: .25rem solid $color-primary;
    border-radius: 50%;
}
.logo:hover{
    color: $color-secondary;
}
.logo:active{
    color: #142533;
    // box-shadow: none;
}
.logo:visited{
    color: $color-primary;
}
.mainname{
    font-family: 'JI Burrito';
    color: $color-secondary;
    padding-left: 0.75rem;
    font-size: 6vh;
    .Ownername{
        font-family: "COCOGOOSE Regular";
        font-size: 1.5rem !important; 
        
    }
}
.subname{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // margin-top: 25%;
    color: $color-primary;
    position: absolute;
    // top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    .Welcome{
        font-family: 'EmberlyBlack';
        // font-size: 12vw;
    }
    .tase{
        color: $color-secondary;
        font-family: 'mono';
        // font-size: 5.75vw;
        margin-bottom: 5vw;
    }
    button{
        height: 3rem;
        width: 14rem;
        font-family: 'mono';
        background-color: transparent;
        border: 2px solid $color-primary;
        // margin-top: 4%;

    }
}


@media (min-width: 1300px ) {
    .subname{
        margin-top: 32vw;
        .Welcome{
            font-size: 7vw;
        }
        .tase{
            font-size: 2.75vw;
        }
    }
}
@media (max-width: 1300px  ) {
    .subname{
        margin-top: 40vw ;
        .Welcome{
            font-size: 9vw;
        }
        .tase{
            font-size: 3.75vw;
        }
    }
}
@media (max-width: 1000px) {
    .subname{
        margin-top: 55vw ;
        .Welcome{
            font-size: 7vw;
        }
        .tase{
            font-size: 2.75vw;
        }
    }
}
@media (max-width: 650px ) {
    .subname{
        margin-top: 90vw ;
        .Welcome{

            font-size: 12vw;
        }
        .tase{
            font-size: 5.75vw;
        }
    }
}
@media  (max-width: 300px ) {
    .subname{
        margin-top: 120vw ;
        .Welcome{
            font-size: 12vw;
        }
        .tase{
            font-size: 5.75vw;
        }
    }
}


.card{
    height: 30vw;
    position: relative;
    overflow: hidden;
    &:hover .card-overlay{
        left: 0;
    }
    &-overlay{
        color: beige;
        background-color: rgba($color-primary, $alpha: .5);
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        left: -1000%;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: .5s;
        &-text{
            font-family: 'mono';
        }
    }
    &-img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: .6;
    }
}
@media screen and (min-width: 1000px ) {
    .card{
        width: 33.3333%;
    }
}
@media screen and (max-width: 1000px ) {
    .card{
        width: 50%; 
    }
}
@media screen and (max-width: 500px ) {
    .card{
        width: 100%; 
        height: 50vw;
    }
}
footer{
    .brand{
        @include flexcenter;
        flex-direction: column;
        margin-bottom: 2%;
        margin-top: 4%;
        .logo-footer{
            font-size: 5vw;
            border: 1px solid $color-primary;
            padding: 2%;
            border-radius: 50%;
            color: $color-primary;
            font-family: 'JI Burrito';
        }
        .mainname-footer{
            font-size: 5vw;
            color: aliceblue;
            font-family: 'JI Burrito';
        }
        .logo-com{
            display: flex;
            justify-content: space-between;
            width: 50%;
            list-style: none;
            font-size: 6vw;
            color: aliceblue;
            margin-bottom: 4%;
            i{
                transition: .5s;
            &:hover{
                    color: $color-primary;
                }
            }
        }
        .text{
            color: aliceblue;
            font-size: 2vw;
            font-family: 'mono';
        }

    }
}
.hamburger-menu{
    height: 40px;
    width: 40px;
    // background-color: red;
    position: fixed;
    top: 8vw;
    left: 4vw;
    z-index:10;
    .menu{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        transition: transform .8s;
        &-line{
            width: 100%;
            height: .5vh;
            background-color: $color-primary;
            transition: all .5s .5s;
            transform-origin: right;
            
        }
    }
}
.checkbox:checked ~ .navbar-navigation .navbar-navigation-right{
    left:0;
} 
.checkbox:checked ~ .navbar-navigation .navbar-navigation-left{
    right:0;
} 
.checkbox:checked ~ .hamburger-menu .menu{
    transform: rotate(90deg);
} 
.checkbox:checked ~ .hamburger-menu .menu-line-1{
    transform: rotate(-35deg);
} 
.checkbox:checked ~ .hamburger-menu .menu-line-2{
    opacity: 0;
} 
.checkbox:checked ~ .hamburger-menu .menu-line-3{
    transform: rotate(35deg);
} 





 




