header{
    // padding: 1rem;
    // margin-top: -5vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    // flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba($color-dark,0.8),rgba($color-black,0.6)) , url(../Image/backgrpund.jpg) center no-repeat;
    background-size: cover;
    .Brand{
        // position: absolute;
        padding-top: 10%;
        // width: 50%;
        display: flex;
        // align-items: center;
    }

}
.about-us{
    display: flex;
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items:flex-start;
    img{
        opacity: .8;
        object-fit: cover;
        // border-radius: 3%;
        // transition: all .5s;
        
    }

    &-right{
        margin: 0;
    }
    &-left{
        text-align: justify;
        width: 219%;
        margin-left: 3%;
        h1{
            color: $color-primary;
            font-family: 'EmberlyBlack';
        }
        h3{
            color: azure;
            font-family: 'mono';
        }
        p{
            color: $color-black;
            font-family: 'mono';
        }
        button{
            height: 4rem;
            color: $color-primary;
            width: 13.5rem;
            font-family: 'mono';
            font-size: 1.2rem;
            background-color: transparent;
            border: 2px solid $color-primary;
        }

    }
}
@media screen and (min-width: 1300px ) {
    .about-us img{
        width: 45%;
        width: 89%;
        margin-left: 9% ;
        transition: 0.5s ;
        &:hover{
            border-radius: 50%;
            opacity: .6;
        }  
        }
}
@media screen and (max-width: 1300px  ) {
    .about-us img{
        width: 89%;
        margin-left: 9% ;
        transition: 0.5s ;
        &:hover{
            border-radius: 5%;
            opacity: .6;
        }
        // height: 100%;  
    }
}
@media screen and (max-width: 1000px) {
    .about-us img{
        width: 91% ;
        margin-left: 9% ;
        border-radius: 50% ;
    }
}
@media screen and (max-width: 650px ) {
    .about-us img{
        width: 226% ;
        height: 34% ;
        margin-left: 7% ;
        border-radius: 50% 0 0 50% ;
        margin-top: 62% ; 
        ;
    }
}
.gallery{
    .cards-wrapper{
        display: flex;
        flex-wrap: wrap ;
    }    
}
.navbar{
    // margin: -6vw;
    min-height: 0;
    margin-bottom: 0;
    position: relative;
    // display: none;
    z-index: 3;
    &-navigation{
        display: flex;
        &-left{
            // flex-wrap: wrap;
            width: 50vw;
            height: 100vh;
            background-color: $color-dark;
            position: fixed;
            right: -150vw;
            transition: right 0.8s cubic-bezier(1,0,0,1);
            .left-img{
                width: 50%;
                height: 30vh;
                object-fit: cover;
                position: absolute;
                border-radius: 3%;
                box-shadow: 0 2vw 6vh rgba($color-dark-gray,0.8);
                opacity: .9;
            }
            .imgleft-2{
                top: 55%;
                left: 35%;
            }
            .imgleft-1{
                top: 35%;
                left: 25%;
            }
            .imgleft-3{
                top: 15%;
                left: 15%;
            }
        }
        &-right{
            @include flexcenter;
            position: fixed;
            left: -150vw;
            width: 50vw;
            height: 100vh;
            background-color: $color-black;
            transition: left 0.8s cubic-bezier(1,0,0,1);
            .nav-list{
                list-style: none;
                &-link{
                    color: whitesmoke ;
                    font-size: 2vw;
                    display: block;
                    font-family: 'mono';
                    text-decoration: none;
                    margin: 40% 0;
                    width: 100%;
                    transition: all .5s;
                    &:hover{
                        color: $color-primary; 
                        letter-spacing: 4;
                    }

                }

            }
        }
    }

}
.checkbox{
    display: none;
}
// @media screen and (max-width: 1300px ) {
//     .hamburger-menu{
//         width: 4vw;
//         height: 5.5vh; 
//     }
// }
// @media screen and (max-width: 1000px ) {
//     .hamburger-menu{
//         width: 5vw;
//         height: 4.5vh;
//     }
// }
@media screen and (max-width: 650px ) {
    .hamburger-menu{
        width: 8vw;
        height: 4.5vh;
        top: 37vw;
    }
    .navbar-navigation-right{
        width: 100vw;
        .nav-list{
            &-link{
                font-size: 4vw;
            }
        }
    }
    .navbar-navigation-left{
        display: none;
    }
}
